/* photo credits
Photographer: https://unsplash.com/@perchek_industrie
IMG URL:"https://images.unsplash.com/photo-1565448647285-a1493650c38c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"
*/


body
{
  background: url("https://images.unsplash.com/photo-1565448647285-a1493650c38c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto;
  text-align: center;
}

ul
{
	list-style: none
}

#pageWrapper
{
  background-color: #FFFFFF;
  border-radius: 8%;
  border-top: 5px solid #EB852A;
  border-left: 5px solid #CBCBCB;    
  border-right: 5px solid #CBCBCB;
	border-bottom: 5px solid #93B2CD;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);  
  margin: 1em auto;
  padding: 2.5rem;
  width: 640px;
}

.carousel-control-prev, .carousel-control-next
{
  filter: invert(0%);
  opacity: 1;
}

.carousel-control-prev:hover, .carousel-control-next:hover
{
  filter: invert(100%);
	opacity: 1
}

#dateInput
{
  margin: 10px;
}
#outerDiv
{
  margin: 0 auto;
}

#innerDiv
{

  margin: 0 25%;
}
#day1
{
	background-color: black;
  color: white;

  opacity: .5;
}

#day2
{
	background-color: black;
  color: white;

  opacity: .5;
}
#day3
{
	background-color: black;
  color: white;

  opacity: .5;
}
#day4
{
	background-color: black;
  color: white;

  opacity: .5;
}
#day5
{
	background-color: black;
  color: white;

  opacity: .5;
}
#day6
{
	background-color: black;
  color: white;

  opacity: .5;
}
